#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  width: 100%;
}

main {
  display: flex;
  justify-content: space-around;
}

aside {
  display: flex;
  flex-direction: column;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #222;
  border-radius: 4px;
  cursor: default;
  border: 1px solid #555;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  gap: 12px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  text-align: left;
  border: 1px solid #555;
  padding: 6px;
  border-radius: 4px;
}

strong {
  text-align: left;
}